<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.revolt.primenews">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".FullNaatuActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".ViewGeneralActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".GeneralFullDetailsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ViewHospitalsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".HospitalFullDetailsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ViewShopsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ShopsFullDetailsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ViewSevanamActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".SevanamFullActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ViewThorilaliActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ThorilaliFullDetailsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".TaxiFullDetailsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ViewTaxiActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".FullOfficeActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".AddNattuActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ViewNattuActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".AddFeedbackActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ViewFeedbackActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ViewLinksActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ViewAboutUsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ViewOfficeActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".FullTourismActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ViewTourismActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".FullRestaurantActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ViewRestaurantActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".FullTheatreActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ViewTheatreActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".PoliceActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".FireActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".AmbulanceActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ViewEmergencyActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ViewMediaActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ViewBloodActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".AutoFullDetailsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ViewAutoActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ViewAdvActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".BusFullDetailsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ViewbusStationsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ViewAnnouncementActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".FullNewsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ViewNewsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            >
        </activity>
    </application>

</manifest>